@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent pull-to-refresh on mobile */
html,
body {
  overscroll-behavior-y: contain;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

/* Hide tap highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}